html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
}

h1 {
  margin-block-end: 5vh;
}

.bold-on-hover:hover {
  font-weight: bold;
}

.article {
  border: 2px solid gray;
  margin-bottom: 5px;
  padding: 5px;
}
.library-container > div {
  max-width: 100%;
  border: 2px solid gray;
  padding: 1vw;
  margin: 1vw;
  margin-bottom: 1vh;
}

.todo-list-item {
  width: 200px;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: rgb(112, 76, 182);
  font-size: 40px;
}
