/* grid-component */

.grid-component {
  display: grid;
  grid-template-columns: 40% 50%;
  gap: 5%; /* Adjust the gap to ensure the total does not exceed 100% */
  align-items: start; /* Align items at the start of the grid area */
}

@media (max-width: 768px) {
  .grid-component {
    grid-template-columns: 1fr;
    min-width: 0;
  }

  .grid-component .image img {
    width: 85vw;
    object-fit: cover;
  }
}

.grid-comoonent .image .grid-component .content {
  display: flex;
  align-items: center;
}

.grid-container p {
  justify-content: center;
  padding: 5px;
}

.grid-component .image {
  padding-top: 2em;
}

/* grid-menu */

.grid-menu {
  display: grid;
  grid-template-columns: auto 60%; /* Adjusted to 15% for the sidebar as per your code */
  width: 100%; /* Ensures the grid container does not shrink below 800px */
}

.grid-menu > :first-child {
  padding: 1vmin;
  text-align: left; /* Ensures content within the sidebar is left-aligned */
  height: 100%;
}

.grid-menu > :nth-child(2) {
  text-align: right; /* Ensures content within the content area is left-aligned */
  height: 100%;
  border: 5px solid lightgray;
  border-radius: 20px;
}

.grid-menu .topLevelMenu {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  list-style: none; /* Remove default list styling */
  padding: 0;
  margin: 0;
  flex-wrap: wrap; /* Ensure items wrap if there's not enough space */
}

@media (max-width: 768px) {
  .grid-menu {
    grid-template-columns: auto 90%; /* Adjusted to 15% for the sidebar as per your code */
  }
}

/* grid-container */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  min-width: 800px;
}

.grid-container.sidebar {
  grid-template-columns: 30% 1fr;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    min-width: 0;
  }

  .grid-container.sidebar {
    grid-template-columns: 1fr;
  }

  .grid-container .grid-sidebar {
    display: none;
  }

  .grid-container.sidebar img {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.grid-container img {
  margin-bottom: 10px;
}

.grid-sidebar {
  padding: 10px;
}

.grid-content {
  padding: 10px;
  background-color: #fff;
}

.grid-container h2,
.grid-container h1 {
  border-bottom: 2px solid lightgray;
  padding-bottom: 20px;
}
